type engpcctl,domain;
type engpcctl_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(engpcctl)

allow engpcctl sysfs:file { read open write ioctl};
allow engpcctl prod_file:dir { search open read write remove_name add_name};
allow engpcctl prod_file:file { open read write lock unlink getattr setattr create rw_file_perms };
